@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


@font-face {
  font-family: mainfont;
  src: url(/atmospheric.otf);
}
.atmos{
  font-family: mainfont;
}

*{
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #1F232B;
  color: #fff;
  overflow-x: hidden;
}
.bg-primary{
  background-color: rgb(31, 35, 43);
}
.bg-sec{
  background: #23272F;
}
.text-primary{
  color: #1F232B;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.menu-item {
  margin-top: -10px;
  padding-right: 5px;
  color: #FFF;
  text-decoration: none;  
  display: inline-block;
  cursor: pointer;
}
 .menu-item:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #f59e0b;
  content: "";
  display: block;
  height: 4px;
  width: 0;
}
.menu-item:hover:after {
  width: 100%;
  
}

.anim-item {
  animation: MoveUpDown 5s linear infinite;
}
.gr-text{
  background: #F1B729;
background: -webkit-linear-gradient(to right, #F1B729 0%, #B77F19 50%,#84570C 100%);
background: -moz-linear-gradient(to right, #F1B729 0%, #B77F19 50%,#84570C 100%);
background: linear-gradient(to right, #F1B729 0%, #B77F19 50%,#84570C 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gr-bg{
  background: #F1B729;
background: -webkit-linear-gradient(to right, #F1B729 0%, #B77F19 50%,#84570C 100%);
background: -moz-linear-gradient(to right, #F1B729 0%, #B77F19 50%,#84570C 100%);
background: linear-gradient(to right, #F1B729 0%, #B77F19 50%,#84570C 100%);
}
@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.input{
  min-height: 40px;
  margin: 7px 0px;
  outline: none;
  display: block;
  border: none;
  border-radius:4px;
  padding:10px;
  min-width: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.main-features-grid{
  max-width: 500px;
  background: rgb(9,26,55);
background: linear-gradient(153deg, rgba(35, 39, 47,1) 35%, rgba(31, 35, 43,1) 92%);
  box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.3);
  transition: all 1s ease-in-out;
}
.main-features-grid:hover{
  box-shadow: 6px 7px 20px rgba(0, 0, 0, 0.4);
  
}


.glow {
 
  text-align: center;
  animation: glow 0.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 10px #e60073, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 35px #e60073;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #ff0c0c, 0 0 20px #eb0202, 0 0 25px #c20c0c, 0 0 30px #b60303, 0 0 35px #ff4da6, 0 0 45px #ff4da6;
  }
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }
}

.button-glow {
  animation: glowing 3s infinite;
}

.main-div3::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
          box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
  z-index: -1;
  -webkit-animation-name: half-yellow-shadow;
          animation-name: half-yellow-shadow;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.main-div {
  position: relative;
  margin: 10px;
  background-color: transparent;
}
.main-div3::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
          box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
  z-index: -1;
  -webkit-animation-name: half-cyan-shadow;
          animation-name: half-cyan-shadow;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


@-webkit-keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes yellow-shadow {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes cyan-shadow {
  0% {
    right: 0;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 50%;
  }
  50% {
    right: 50%;
    bottom: 50%;
  }
  75% {
    right: 50%;
    bottom: 0;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}
